<div class="demo-grid">
  <div class="demo-grid-row">
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
    <div class="grid-1">
      <div class="demo-inner">
        .grid-1
      </div>
    </div>
  </div>

  <div class="demo-grid-row">
    <div class="grid-2">
      <div class="demo-inner">
        .grid-2
      </div>
    </div>
    <div class="grid-2">
      <div class="demo-inner">
        .grid-2
      </div>
    </div>
    <div class="grid-2">
      <div class="demo-inner">
        .grid-2
      </div>
    </div>
    <div class="grid-2">
      <div class="demo-inner">
        .grid-2
      </div>
    </div>
    <div class="grid-2">
      <div class="demo-inner">
        .grid-2
      </div>
    </div>
    <div class="grid-2">
      <div class="demo-inner">
        .grid-2
      </div>
    </div>
  </div>

  <div class="demo-grid-row">
    <div class="grid-3">
      <div class="demo-inner">
        .grid-3
      </div>
    </div>
    <div class="grid-3">
      <div class="demo-inner">
        .grid-3
      </div>
    </div>
    <div class="grid-3">
      <div class="demo-inner">
        .grid-3
      </div>
    </div>
    <div class="grid-3">
      <div class="demo-inner">
        .grid-3
      </div>
    </div>
  </div>

  <div class="demo-grid-row">
    <div class="grid-6">
      <div class="demo-inner">
        .grid-6
      </div>
    </div>
    <div class="grid-6">
      <div class="demo-inner">
        .grid-6
      </div>
    </div>
  </div>
</div>
