<header class="site-header">
  <div class="contents">
    <div class="title">
      <h1><a href="/">fGrid &middot; Sass Responsive Grid System</a> <span class="tag">{{site.version}}</span></h1>
    </div>
    <nav class="nav">
     <a href="/docs"><i class="ion-bookmark"></i> Docs</a>
     <a href="https://github.com/fullaf/fgrid/issues/"><i class="ion-bug"></i> Issue Tracker</a>
     <a href="https://github.com/fullaf/fgrid/"><i class="ion-social-github"></i> GitHub</a>
    </nav>
  </div>
</header>
